body{
    background-color: black;
}


h1{
    color: whitesmoke;
    text-align: center;
    font-size: 150px;
    border-bottom: whitesmoke 10px solid;
    font-family:sans-serif;
}

p{
    color: rgb(217, 25, 25);
    font-size: 25px;
    margin-left: 150px;
    margin-top: -74px;
}

img{
    width: 658px;
    margin-left: 650px;
}